
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');
@import "./generales";
@import "./header";
@import "./footer"

@media (min-width: 1024px) {
    .transform:hover {
        transform: scale(2);
        transition-property: all ;
        transition-duration: 2s;
    }
    img {
        margin-top: 0px;
    }
    iframe {
        margin-top: 10px;
    }
}

